---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

export const getStaticPaths = async () => {
    const entries = await getCollection("blog");
    return entries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
};

const { entry } = Astro.props;
const { Content } = await entry.render();

const tweetIntentUrl = new URL("https://twitter.com/intent/tweet");
tweetIntentUrl.searchParams.append("text", `"${entry.data.title}" at`);
tweetIntentUrl.searchParams.append(
    "url",
    import.meta.env.SITE + Astro.url.pathname,
);
tweetIntentUrl.searchParams.append("via", "spifory_");
---

<head>
    <meta name="date" content={entry.data.createdAt.toString()} />
</head>

<Layout
    title={`${entry.data.title} / blog / spifory`}
    description={entry.data.summary}
>
    <article>
        <header>
            <h1>
                <span id="blog-icon">
                    {
                        entry.data.imageIcon && (
                            <Image
                                src={entry.data.imageIcon}
                                alt={`${entry.data.title}'s' icon`}
                                width="48"
                                height="48"
                                loading="eager"
                            />
                        )
                    }
                    {entry.data.icon && <Icon name={entry.data.icon} />}
                </span>

                {entry.data.title}
                <span style="float: right;" data-tooltip="home"
                    ><a href="/">/</a></span
                >
            </h1>
        </header>
        <body>
            <h6>
                Created on <time datetime={entry.data.createdAt.toString()}
                    >{
                        entry.data.createdAt.toLocaleDateString("en-US", {
                            month: "long",
                            day: "numeric",
                            year: "numeric",
                            hour: "numeric",
                            minute: "numeric",
                            hour12: false,
                        })
                    }</time
                >
            </h6>
        </body>
        <footer>
            <Content />
        </footer>
        <footer>
            <h3>Liked this post? Maybe post about it :D</h3>
            <a href={tweetIntentUrl}>
                <button
                    class="pico-background-azure-350"
                    style="color: var(--pico-color-zinc-50);"
                    ><Icon name="mdi:twitter" /> Tweet</button
                >
            </a>
        </footer>
    </article>
</Layout>

<style>
    article {
        position: absolute;
        border-radius: 10px;
        top: 0;
        left: 0;
        right: 0;
        margin: 25px;
        box-shadow: var(--pico-box-shadow);
    }

    p {
        font-weight: larger;
    }
</style>
