---
import Icon from "astro-icon";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <span class="intro">
    Hey! I'm
    <span class="name"><a onclick="nameClick()">spifory</a></span>
  </span>

  <span class="footer-socials">
    <a href="https://twitter.com/spifory_", target="_blank"><Icon class="icon" name="bi:twitter" /></a>
    <a href="https://github.com/spifory" target="_blank"><Icon class="icon" name="bi:github" /></a>
    <a href="https://discord.gg/VTPzbjRFpF" target="_blank"><Icon class="icon" name="bi:discord" /></a>
  </span>
</Layout>
<style lang="css">
  .intro {
    color: #e6aace;
    font-size: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3em 0.3em;
  }
  .intro > .name {
    font-weight: 900;
    cursor: not-allowed; /* such trollage yes */
  }

  .footer-socials {
    justify-content: center;
    text-align: center;
    background-color: #344966;
    min-width: 10%;
    border-radius: 13px;
    position: fixed;
    bottom: 0;
  }

  .icon {
    height: 3em;
    padding: 0.3em;
    color: #e6aace;
    transition: 0.1s;
  }

  .icon:hover {
    opacity: 75%;
    transition: 0.1s;
  }

  #value {
    color: #bfcc94;
    font-weight: 500;
  }
</style>
