---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

interface Props {
    slug: string;
    title: string;
    summary: string;
    createdAt: Date;
    imageIcon?: string;
    icon?: string;
}

const { slug, title, summary, createdAt, imageIcon, icon } =
    Astro.props as Props;
---

<a href=`/blog/${slug}` id="blog">
    <article>
        <h6>
            <time datetime={createdAt.toString()}>
            {
                createdAt.toLocaleDateString("en-US", {
                    month: "long",
                    day: "numeric",
                    year: "numeric",
                    hour: "numeric",
                    minute: "numeric",
                    hour12: false,
                })
            }
            </time>
        </h6>
        <h2>
            {title}
            <span id="blog-icon">
                {
                    imageIcon && (
                        <Image
                            src={imageIcon}
                            alt={`${title}'s' icon`}
                            width="96"
                            height="96"
                            loading="eager"
                        />
                    )
                }
                {
                    icon && <Icon name={icon} />
                }
            </span>
        </h2>
        {summary && <h5>{summary}</h5>}
    </article>
</a>

<style>
    #blog {
        text-decoration: none;
    }

    #blog-icon,
    #blog-date {
        float: right;
    }

    img {
        border-radius: 10px;
    }
</style>
