---
const name = "spifory";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{name}</title>
    <link rel="icon" href="/favicon.svg" />
    <meta name="darkreader-lock" />
  </head>

  <body>
    <slot />
  </body>

  <script lang="ts">
    function nameClick() {
      return alert("yes, I am spifory\n\nwhy did you click this though?");
    }
  </script>
</html>
<style lang="css">
  html {
    background-color: #0d1821;
    font-family: system-ui, sans-serif;
  }
  body {
    justify-content: center;
    display: flex;
  }
</style>
